<div class="formaGris">
    <div class="forma1">
        <div class="forma2">
            <div class="forma3">
                <div class="forma4">
                    <div class="forma5">
                        <div class="forma6">
                            <div class="cosa1"><div class="cosa2"><div class="cosa3"><div class="cosa4"></div></div></div></div>
                            <div class="cosa5"><div class="cosa6"><div class="cosa7"></div></div></div>
                            <div class="forma7">
                                <div class="forma8">
                                    <div class="forma9">
                                        <div class="forma10">
                                            <div class="forma11">
                                                <div class="forma12">
                                                    <div class="forma13">
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
