<div class="formaGris2">
    <div class="forma1">
        <div class="cosa1"><div class="cosa2"><div class="cosa3"><div class="cosa4"><div class="cosa7"></div></div></div></div></div>
        <div class="forma2">
            <div class="forma3">
                <div class="forma4">
                    <div class="forma5">
                        <div class="cosa5"><div class="cosa6"></div></div>
                        <div class="forma6">
                            <div class="forma7">
                                <div class="cosa8"></div>
                                <div class="forma8">
                                    <div class="forma9">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>