<div class="formaGris3">
    <div class="forma1">
        <div class="forma2">
            <div class="forma3">
                <div class="forma4">
                    <div class="forma5">
                        <div class="forma6">
                            <div class="forma7">
                                <div class="forma8">
                                    <div class="forma9">
                                        <div class="forma10">
                                            <div class="cosa1"><div class="cosa3"></div></div>
                                            <div class="cosa2"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
